/* SpiralAnimation.module.css */
.spiralSvg {
  width: auto;
  height: auto;
  overflow: visible;
}

.path {
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 15000;
  animation: drawSpiralbackwards 5s forwards var(--cm-transition-medium);
  fill-opacity: 0;
}

.bluePath {
  stroke: var(--cm-primary-blue);
  /* animation: drawSpiralforward 3s forwards var(--cm-transition-medium); */
}

.greenPath {
  stroke: var(--cm-primary-green);
  /* animation: drawSpdrawSpiralforwardiralbackwards 3s forwards */
  /* var(--cm-transition-medium); */
}

@keyframes drawSpiralbackwards {
  from {
    stroke-dashoffset: 15000; /* Start hidden in reverse */
  }
  to {
    stroke-dashoffset: 0; /* End fully visible */
  }
}

@keyframes drawSpiralforward {
  from {
    stroke-dashoffset: 0; /* Start hidden in reverse */
  }
  to {
    stroke-dashoffset: 15000; /* End fully visible */
  }
}

@media (prefers-reduced-motion) {
  .path {
    animation-duration: 0.5s;
  }
}
