/* SectionTitle.module.css */
.sectionTitle {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.sectionTitle::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: var(--cm-primary-green);
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignCenter::after {
  left: 50%;
  transform: translateX(-50%);
}

.alignRight {
  text-align: right;
}

.alignRight::after {
  left: auto;
  right: 0;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.5rem;
  }
}
